.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.about__banner img {
  width: 100%;
  max-width: 1240px;
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
}
.about__informations {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 35px;
}
.about__informations__card {
  max-width: 1023px;
  min-width: 300px;
}
.about__informations__card .rotate {
  transition: transform 0.2s ease-in-out;
  transform: rotate(-180deg);
}
.about__informations__card .show {
  max-height: 200px;
  padding: 25px 20px;
  transition: max-height 0.25s ease-out, padding 0.2s ease-out;
}
.about__informations__card__title {
  margin-top: 0;
  background-color: #ff6060;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
}
.about__informations__card__title img {
  transition: transform 0.2s ease-in-out;
}
.about__informations__card__info {
  width: 100%;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67px;
  color: #ff6060;
  height: 301px;
  background-color: #f7f7f7;
  transition: max-height 0.25s ease-out, padding 0.2s ease-out;
  z-index: -1;
  max-height: 0;
  overflow: hidden;
  margin-top: 0px;
  list-style-type: none;
}
.about__informations__card__equipment {
  margin-bottom: 3px;
}

.logement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.logement__banner img {
  width: 100%;
  max-width: 1240px;
  height: 223px;
  border-radius: 25px;
  object-fit: cover;
}

.logement__informations {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 35px;
}
.logement__informations__card {
  width: 45%;
}

.logement__informations__card .rotate {
  transition: transform 0.2s ease-in-out;
  transform: rotate(-180deg);
}

.logement__informations__card .show {
  max-height: 200px;
  padding: 25px 20px;
  transition: max-height 0.25s ease-out, padding 0.2s ease-out;
}

.logement__informations__card__title {
  border-radius: 1rem;
  background-color: #ff6060;
  color: white;
  padding: 15px;
  margin-right: -40px;
  display: flex;
  justify-content: space-between;
}

.logement__informations__card__title img {
  transition: transform 0.2s ease-in-out;
}

.logement__informations__card__info {
  width: 100%;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67px;
  color: #ff6060;
  height: 301px;
  background-color: #f7f7f7;
  transition: max-height 0.25s ease-out, padding 0.2s ease-out;
  z-index: -1;
  max-height: 0;
  overflow: hidden;
  margin-top: 0px;
  list-style-type: none;
}
.logement__informations__card__equipment {
  margin-bottom: 3px;
}

@media (max-width: 768px) {
  .about__informations__card__title {
    width: 90%;
  }

  .about__informations {
    gap: 0px;
  }

  .logement__informations__card__title {
    width: 100%;
  }
}
