.error h1 {
  font-size: 288px;
  font-weight: 700;
  line-height: 410.69px;
  color: #ff6060;
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
}
.error p {
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  color: #ff6060;
  text-align: center;
}
.error a {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-decoration: underline;
  margin-top: 16px;
  color: #ff6060;
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 1rem 1rem;
}

.error {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .error h1 {
    font-size: 190px;
  }
  .error {
    min-height: 51vh;
}
}
@media (max-width: 425px) {
  .error h1 {
    margin-top: 100px;
    line-height: 200px;
    font-size: 100px;
  }
  .error p {
    font-size: 18px;
    line-height: 25px;
  }
  .error a {
    font-size: 14px;
    line-height: 20px;
  }
}
