.product {
  width: 100%;
  max-width: 1240px;
  min-width: 250px;
  margin: 20px auto;
}
.product .slider {
  position: relative;
}
.product .slider__picture {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}
.product .slider__count {
  position: absolute;
  left: 48.8%;
  bottom: 5%;
  font-size: 18px;
  font-weight: 500;
  color: white;
}
.product .slider__previous,
.product .slider__next {
  position: absolute;
  top: 40%;
  padding: 0 30px;
}
.product .slider__next {
  right: 0%;
}
.product__content {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.product__content__left__title {
  font-size: 14px;
}
.product__content__left__location {
  font-size: 14px;
}
.product__content__left__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.product__content__left__tags__tag {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: white;
  padding-top: 4px;
  width: 120px;
  height: 25px;
  background-color: #fff;
  border-radius: 10px;
}
.product__content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__content__right__host {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 14px;
}
.product__content__right__host__name {
  font-size: 14px;
  text-align: right;
}
.product__content__right__host__picture {
  width: 64px;
  object-fit: cover;
  border-radius: 50%;
}
.product__content__right__rate__icon {
  width: 30px;
}
.product__informations {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  gap: 46px;
}
.product__informations__card {
  width: 582px;
}
.product__informations__card .rotate {
  font-size: 14px;
}
.product__informations__card .show {
  font-size: 14px;
}
.product__informations__card__title {
  font-size: 14px;
}
.product__informations__card__info {
  font-size: 14px;
}
.product__informations__card__equipment {
  margin-bottom: 3px;
}

@media (max-width: 768px) {
  .product .slider__picture {
    height: 255px;
  }
  .product .slider__previous,
  .product .slider__next {
    top: 50%;
    padding: 0 8px;
  }
  .product .slider__previous__icon,
  .product .slider__next__icon {
    width: 20px;
    height: 20px;
  }
  .product__content {
    flex-direction: column;
  }
  .product__content__left__title {
    font-size: 24px;
  }
  .product__content__left__location {
    font-size: 19px;
  }
  .product__content__left__tags__tag {
    font-size: 12px;
    width: auto;
    padding: 4px 4px;
  }
  .product__content__right {
    flex-direction: row;
    align-items: center;
  }
  .product__content__right__host {
    order: 2;
  }
  .product__content__right__rate {
    order: 1;
  }
  .product__informations {
    flex-direction: column;
  }
  .product__informations__card {
    width: 100%;
  }
  .product__informations__card .show {
    max-height: 200px;
    transition: max-height 0.25s ease-out, padding 0.2s ease-out;
  }
  .product__informations__card__title {
    padding: 7px 15px;
    font-size: 15px;
  }
  .product__informations__card__info {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 425px) {
  .product .slider__picture {
    border-radius: 10px;
  }
  .product__content {
    flex-direction: column;
    margin-top: 8px;
  }
  .product__content__left__title {
    font-size: 18px;
  }
  .product__content__left__location {
    margin-top: 6px;
    font-size: 14px;
  }
  .product__content__left__tags {
    margin-top: 8px;
  }
  .product__content__left__tags__tag {
    height: 18px;
    font-size: 10px;
    padding-top: 2.5px;
  }
  .product__content__right {
    margin-top: 6px;
    flex-direction: row;
    align-items: center;
  }
  .product__content__right__host__name {
    font-size: 12px;
    line-height: 17.11px;
  }
  .product__content__right__host__picture {
    width: 32px;
  }
  .product__content__right__rate__icon {
    width: 15px;
  }
}
@keyframes show-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
